// ------- Variables ------- >>>
$blue: hsl(217, 56%, 43%);
$green: hsl(102, 64%, 49%);



// ----------- Headers ------ >>>

.device-header {
	color: $green;
}

.channels-header {
	color: $blue;
}


// ------ Specific for Bars ------>>>

.bar {
	display: inline-block;
	text-align: center;
	color: white;
	height: 30px;
	line-height: 30px;
}

.devices{
	@extend .bar;
	background-color: $green;
}

.channels {
	@extend .bar;
	background-color: $blue;
}

.bars {
	display: inline-flex;
	flex-grow: 1;
}


// --------- Country List -------->>>


.country-name {
	width: 30%;
	line-height: 30px;
}

.country-disp {
	display: flex;
	flex-wrap: wrap;
}

.country-list-item {
	list-style: none;
	margin: 2% 0;
}


// ------------ filtering ------>>>>

.top {
	width: 90vw;
	display: flex;
	flex-wrap: wrap;

	div {
		margin: 1%;
	}

	.filters{
		width: 60%;
		flex-grow: 1;
	}
}

.sorter-a {
	color: $blue;
	cursor: pointer;
	line-height: 30px;
}

.filters-form {
	display: flex;
	flex-wrap: wrap;
	width: 97%;
	justify-content: space-around;
	border: solid black 1px;
	padding: 1%;

	div {
		display: flex;
		width: 100%;
		margin: 1% 0;
		.labels {
			min-width: 100px;
			margin-right: 10px;
		}
		select, input {
			flex-grow: 1;
			width: 70%;
		}
	}
}

sup{
	font-size: 8pt;
}



// ---------- Media Queries -------->>>


@media only screen and (max-width: 600px){
	
	.country-name {
		width: 100%;
	}


}
