<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	
	
	<title>Frontend Applicant Test</title>

	<script src="node_modules/angular/angular.js"></script>
	<script src="app.js"></script>
	<script src="country-display.js"></script>


</head>
<body ng-app="iwApp" ng-controller="controller as controller">
	<header>
		<h1>Content Report</h1>
		<hr>
	</header>
	<div class="top">
		<div class="totals">
			<h2 class="device-header"> Total Devices: {{totals['Devices']}} </h2>
			<h2 class="channels-header"> Total Channels: {{totals['Channels']}} </h2>
		</div>
		<div class="filters">
			<form class="filters-form">
				<div>
				<label class="labels" for="countryFilter">
					Select Country:
				</label>
				<select 
					id="countryFilter" 
					name="countryFilter"
					ng-change="filter.updateFilter('byName', filter.selectedOption)"
					ng-model="filter.selectedOption"
					ng-options="option for option in filter.options"
					>
				</select>
				</div>
				<div>
				<label class="labels" for="sorter">
					Sort by:
				</label>
					<select
						id="sorter"
						name="sorter"
						ng-model="filter.sorter"
						ng-options="option for option in filter.sortOptions"
						ng-change="filter.updateFilter('sort', filter.sorter)"
					>
						
					</select>
				</div>
				<div>
					<label class="labels" for="searcher">
						Search:
					</label>
					<input 
						type="text" name="searcher" id="searcher"
						placeholder="Type query to see results" 
						ng-model="filter.typedFilter"
						ng-change="filter.updateFilter('search', filter.typedFilter)">
				</div>
				<button ng-click="filter.updateFilter('clear')">Reset Filters</button>
			</form>
			
		</div>
	</div>
	
	<hr>
	
	<ul>
		<li class="country-list-item">
			<div class="country-disp">
				<a 
					class="country-name sorter-a"
					ng-click="filter.updateFilter('alpha')"
					>
					Country Name
				</a>
				<div class="bars">
					<a 
						class="sorter-a" 
						ng-click="filter.updateFilter('sort', 'Channels')">
						Channels /
					</a>
					<a 
						class="sorter-a" 
						ng-click="filter.updateFilter('sort', 'Devices')"
						>
						&nbsp; Devices
					</a>
					<sup>&nbsp;*click to sort</sup>
				</div>

			</div>
		</li>
		<country-display ng-repeat="country in controller.displayData" country="country">
		</country-display>


	</ul>

</body>
</html>